<h1>Upload</h1>
<!--input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
<button type="button" class="btn btn-primary btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
</button-->

<div class="container padding10LR">
  <div class="dropzone"
    (dragover)="false"
    (dragend)="false"
    (drop)="handleDrop($event)"
  >
    <div *ngIf="!loading; else loader">dropzone</div>
    <input type="file" />
  </div>
</div>
<ng-template #loader>Uploading...</ng-template>