<h1>Home</h1>
<p>
  Hi every one I always needed to send data to someone or someone else and each times there is a problem: 'file too big', 'authentification failed', 'not enouth permission'. I could put my file on a server and send adress to my coleague but ... scp, ftp, ... too boring I prefer to have an easy interface to put it fast.
</p>
<p>
  So I think about this project it is on Http but quite fast (I don't try larger than 500Mo but it's already larger than every try that I done with other method).
</p>
<p>
  An other idea ... because it's just for temporary file it's to add a cron which delete files each ... 3 month ? maybe less.
</p>
<p>
  Some people could prefer to keep it from a period to an other so we need a DB.
</p>
