/* You can add global styles to this file, and also import other style files */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.padding20B {
  padding-bottom: 20px;
}

.padding20T {
  padding-top: 20px;
}

.padding10LR {
  padding-left: 10px;
  padding-rigth: 10px;
}
